<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{    
    background-color: rgb(180, 244, 245);
            font-family: 'Times New Roman', Times, serif';
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign</title>
</head>
<body>
    <div>
        <h1>Signup</h1>
        <form action="/user" method="post">
            <label>UserName</label>
            <input type="text" required placeholder="Abhishek" name="name">
            <label >Email</label>
            <input type="text" required placeholder="Abhi@gmail.com" name="email">
            <label >Password</label>
            <input type="text" required placeholder="1234" name="password">
            <button type="submit">signup</button>
        </form>
    </div>
</body>
</html>